{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <div class="container">
    <div class="row login-form">
      <div class="col-md">
        <div class="login-container">
          <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send me instructions!">
          </form>
        </div>
      </div>
      <div class="col-md">
       <div class="login-container">
        <p>Return to <a href="{% url 'login' %}">Sign In</a> page.</p>
       </div> 
      </div>
      
    </div>
  </div>
  
{% endblock %}