{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<div class="container">
  <div class="row login-form">
    <div class="col-md">
      <div class="login-container">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Change my password">
        </form>
      </div>
    </div>
  </div>
</div>


{% else %}
<div class="login-container">
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
</div>
{% endif %}
{% endblock %}