{% extends 'userbase.html' %}

{% block title %}Flight Entry{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p class="right-align">Hi, {{ user.username }}!</p>
  <h1>Flight Entry</h1>
  <div class="container">
    <div class="row userhome">
      <div class="col-md">
        <div class="content">
          <h3>Add a flight:</h3>
        
        </div>
      </div>
      
    </div>
  </div>
{% else %}
<div id="login-needed">
  <p>You are not logged in.</p>
  <p>Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a> to enter flight data.</p>
</div>
{% endif %}
{% endblock %}